.panel {
	margin: 20px auto;
}
.bxslider li img{
	width: 100% !important;
}
#bx-pager {
	text-align: center;
}
#bx-pager a {
	display: inline-block;
	height: 60px;
}
#bx-pager a.active {
	outline: 2px solid yellow;
}
ul.info {
	list-style-type: none;
	margin: -60px auto 20px;
}
ul.info li{
	text-align: left;
}
